<header
	class="text-gray-600 body-font fixed top-0 left-0 right-0 bg-white border-b border-athens-gray-200 z-30 h-16 flex items-center">
	<div class="bg-white flex-shrink-0 lg:w-80 w-full h-full font-normal lg:block hidden"></div>
	<div class="container flex items-center pl-4 lg:pr-1 lg:w-5/6 w-full">
		<div class="toggle-btn lg:hidden block mr-4 cursor-pointer" onclick="toggleSidebar(this)">
			<i class="fa-solid fa-bars text-2xl mt-1"></i>
		</div>

		<a href="#" class="flex title-font font-medium items-center text-shamrock-600 py-1">
			<img src="/img/logo.png" class="lg:h-10 h-8 w-auto">
		</a>
		<nav class="ml-auto flex flex-wrap items-center text-base justify-center">
			<a href="/logout" class="ml-auto px-3 hover:bg-gray-200 rounded-lg py-3">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
					stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round"
						d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9">
					</path>
				</svg>
			</a>
		</nav>

	</div>
</header>