<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/style/img/icon.png">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.3/sweetalert2.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.3/sweetalert2.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <title>{{title}}</title>
</head>

<body class="bg-athens-gray-100">
    {{> header }}
    <div class="flex overflow-hidden">
        <div
            class="bg-white fixed top-16 left-0 z-20 flex-col flex-shrink-0 w-80 h-full font-normal lg:flex border-r border-athens-gray-200 px-4 sidebar hidden invisible lg:visible duration-300">
            {{> sidebar }}
        </div>
        <div class="flex flex-col w-full fixed top-16 left-0 lg:left-80 right-0 bottom-0 z-20">
            <div class="overflow-y-auto lg:px-6 px-4 py-4 block lg:w-4/5 w-full main-content">
                {{> breadcrumb}}
                <div>
                    {{!-- Content --}}
                    {{{body}}}
                    {{!-- Content END --}}
                </div>
            </div>

        </div>
    </div>
</body>

</html>