<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portail Auto-Entrepreneurs Tunisiens</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Lien vers la feuille de style globale -->
</head>
<body class="bg-gray-100">
    <!-- En-tête -->
    {{> partials/header}}
    
    <!-- Contenu spécifique à chaque page -->
    {{#content "content"}}
    {{/content}}
    
    <!-- Pied de page -->
    {{> partials/footer}}

    <!-- Scripts JavaScript -->
    <script src="/js/app.js"></script> <!-- Lien vers le script JavaScript principal -->
</body>
</html>
